In [24]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [25]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pisco,PE,2021-11-28 21:22:28,-13.7000,-76.2167,69.85,73,0,23.02
1,1,Esperance,AU,2021-11-28 21:22:29,-33.8667,121.9000,64.24,89,95,16.08
2,2,Namibe,AO,2021-11-28 21:22:29,-15.1961,12.1522,69.42,76,92,5.48
3,3,Beringovskiy,RU,2021-11-28 21:22:29,63.0500,179.3167,3.65,96,98,5.01
4,4,Bloomingdale,US,2021-11-28 21:21:56,27.8936,-82.2404,68.32,41,1,3.44

In [26]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [27]:
gmaps.configure(api_key = g_key)

In [28]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [29]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float: ''

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Rikitea,PF,2021-11-28 21:22:30,-23.1203,-134.9692,76.73,74,11,16.35
12,12,Kahului,US,2021-11-28 21:22:31,20.8947,-156.4700,80.62,57,20,19.57
17,17,Vaini,TO,2021-11-28 21:22:33,-21.2000,-175.2000,80.76,78,20,10.36
18,18,Bubaque,GW,2021-11-28 21:22:33,11.2833,-15.8333,83.39,70,68,14.29
20,20,Panacan,PH,2021-11-28 21:22:33,9.2463,118.4082,78.85,81,100,6.08
22,22,Atambua,ID,2021-11-28 21:22:34,-9.1061,124.8925,74.55,82,100,2.46
23,23,Atuona,PF,2021-11-28 21:22:34,-9.8000,-139.0333,78.53,72,1,18.23
26,26,Lorengau,PG,2021-11-28 21:22:35,-2.0226,147.2712,80.91,79,98,2.39
28,28,Aripuana,BR,2021-11-28 21:22:36,-9.1667,-60.6333,82.18,73,92,0.85
29,29,Praia,CV,2021-11-28 21:22:36,14.9215,-23.5087,75.74,69,40,24.16

In [35]:
preferred_cities_df.count()

City_ID       211
City          211
Country       210
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [36]:
preferred_cities_df.notnull().sum()

City_ID       211
City          211
Country       210
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
8    Rikitea      PF     76.73 -23.1203 -134.9692
12   Kahului      US     80.62  20.8947 -156.4700
17     Vaini      TO     80.76 -21.2000 -175.2000
18   Bubaque      GW     83.39  11.2833  -15.8333
20   Panacan      PH     78.85   9.2463  118.4082
22   Atambua      ID     74.55  -9.1061  124.8925
23    Atuona      PF     78.53  -9.8000 -139.0333
26  Lorengau      PG     80.91  -2.0226  147.2712
28  Aripuana      BR     82.18  -9.1667  -60.6333
29     Praia      CV     75.74  14.9215  -23.5087

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]


# Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("hotel not found")

hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found
hotel not found

In [44]:
hotel_df.head(5)

       City Country  Max Temp      Lat       Lng           Hotel Name
8   Rikitea      PF     76.73 -23.1203 -134.9692      People ThankYou
12  Kahului      US     80.62  20.8947 -156.4700   Maui Seaside Hotel
17    Vaini      TO     80.76 -21.2000 -175.2000  Keleti Beach Resort
18  Bubaque      GW     83.39  11.2833  -15.8333   Casa Dora, Bubaque
20  Panacan      PH     78.85   9.2463  118.4082   Mom's Place Resort

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))